{% extends "inventory/layout.html" %}
{% load static %}
{% block extra-css %}<link rel="stylesheet" href="{% static 'css/Feedback.css' %}" type="text/css">{% endblock %}
{% block content %}
    <h1 style="margin-left: 45%; margin-top: 2%; font-weight: 700;font-size: 50px; color: #4F4F51; letter-spacing: 2px;">Add Feedback</h1>
    <div class="container">
        {{ form.media }}
        
<div class="box" id="review">
    <section id="section" class="hidden">
      <form method="post" action="{% url 'addReview' %}">
        {% csrf_token %}
        <h3 class="sub-heading">Give Review</h3>
        <label for="product" >Product:</label>
        <input type="text" id="product" name="product" required><br><br>
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea><br><br>
        <label for="rate">Rate:</label>
        <div class="rating">
          <input type="radio" id="star5" name="rate" value="5" required/>
          <label for="star5" title="5 stars">&#9733;</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="4 stars">&#9733;</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="3 stars">&#9733;</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="2 stars">&#9733;</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="1 star">&#9733;</label>
        </div><br><br>
        <button class="btn btn-success w-100" type="submit">Submit</button>
      </form>
    </section>
  </div>
        </div>
        
{% endblock %}  


            
