{% extends "inventory/layout.html" %}
{% block content %}
<div class="container my-5">
    <h1 class="heading text-center">Billing Details</h1>
    <form class="d-flex" role="search" action="{% url 'cabinorder_search' %}">
        <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <table class="table">
        <thead>
            <tr>
                <th>Billing Date</th>
                <th>Cabin Number</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for cabin_order in billing_date %}
            <tr>
                <td>{{ cabin_order.billing_date }}</td>
                <td>{{ cabin_order.cabin.cabinnumber }}</td>
                <td>{{ cabin_order.product }}</td>
                <td>{{ cabin_order.quantity }}</td>
                <td>Rs {{ cabin_order.product.price }}</td>
                <td>Rs {{ cabin_order.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
