{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Result{% endblock title %}
{% block link %}<link rel="stylesheet" href="{% static  'app/css/custom.css' %}" />{% endblock link %}
{% block main-content %}
<section class="dishes" id="dishes">
    <h1 class="heading"> All Dishes </h1>
    <hr>
    <div class="box-container">
      {% for prod in product %}
        <div class="box">
            <img src="{{prod.product_image.url}}" alt="">
            <h3>{{prod.title}}</h3>
            <span>Rs:{{prod.discounted_price}}</span>
        </div>
      {% endfor %}
    </div>
  </section> 
{% endblock main-content %}